.greeteng {
    background: rgb(253, 253, 253);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.151);
    text-align: justify;
    text-indent: 25px;
}

.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.threeColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fourColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}