.usersItem {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    padding: 5px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.151);
}

.message {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.151);
    border-radius: 12px;
}

.hvost {
    height: 100px;
    width: 100px;
}

.selectedPage {
    font-weight: bold;
}