.profilinfo img {
    width: 100%;
    height: 300px;
}

.avatar {
    padding: 10px;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.151);
}