.quote {
    text-align: right;
    font-size: 10px;
}

.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.threeColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fourColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}