.header {
    grid-area: h;
    margin: 10px 10px 0px 10px;
    padding: 3px;
    background-color: darkgreen;
    color: seashell;
}
.tooColomns {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.header img {
    width: 20px;
}