.footer {
    background: black;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.threeColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fourColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}