.button {
  width        : 100px;
  height       : 100px;
  border       : solid #006400 1px;
  border-radius: 2px;
  align-items  : center;
  padding      : 3px;
  margin       : 2px;
}

.activelink {
  width           : 100px;
  height          : 100px;
  color           : gold;
  background-color: #006400;
  border          : solid #006400 1px;
  border-radius   : 2px;
  align-items     : center;
  padding         : 3px;
  margin          : 2px;
}

.twoColumns {
  display              : grid;
  grid-template-columns: 0.09fr 1fr;
}